* {
    box-sizing: border-box;
}

html, body {
    background-image: url("../images/background3.jpg");
    font-family: 'Brush Script MT', 'Times New Roman', Times, serif;
    font-weight: 700;
    font-size: 24;
    margin-bottom: 0;    
}

header {
    text-align: center;
    padding-bottom: 20px;
}

body h1 {
    font-weight: 700;
    font-size: 50px;
    font-family: 'Brush Script MT', 'Times New Roman', Times, serif;
}

body p {
    margin-bottom: 0px;
}

body .instructions {
    text-align: center;
    font-size: 24px;
    margin: 0;
}


body .crystal-buttons {
    text-align: center;
}

button img {
    height: 100px;
    width: 100px;
}

body, h2 {
    text-align: center;
}

body .card{
    background-image: url("../images/backgroundcard.jpg");
    
}


